.card {
  background-color: var(--white);
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 1px solid var(--white);
  cursor: pointer;
}

.card:hover {
  border-color: var(--grayD9);
}

.card:hover a span {
  color: var(--orange);
}

.card:focus-within a span {
  color: var(--orange);
}

.footer {
  position: relative;
}

@media all and (min-width: 1024px) {
  .card {
    flex-flow: row;
    padding: 40px;
  }

  .header {
    order: 2;
    width: 85%;
  }

  .preview {
    order: 1;
  }

  .footer {
    order: 3;
    flex: 1;
    display: flex;
    height: auto;
    justify-content: center;
  }
}

@media all and (min-width: 1540px) {
  .card {
    padding: 60px;
  }
}
