.loader {
  border: 3px solid transparent;
  border-top-color: var(--orange);
  border-bottom-color: var(--orange);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  z-index: 1000000;
  animation: 1.5s infinite linear;
  animation-name: spin;
}

.small {
  width: 15px;
  height: 15px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
