.menu {
  width: 31px;
  height: 31px;
  background-color: var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  border: none;
  top: 18px;
  right: 20px;
  cursor: pointer;
}

.menu:focus,
.menu:hover {
  background-color: var(--grayD9);
}

.menu:focus .dot,
.menu:hover .dot {
  background-color: var(--grayF3);
}

.dots {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 23px;
}

.dot {
  background-color: var(--grayD9);
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

@media all and (min-width: 1024px) {
  .menu {
    transform: rotate(90deg);
    right: 81px;
    top: 75px;
  }
}

@media all and (min-width: 1540px) {
  .menu {
    right: 104px;
    top: 96px;
  }
}
