.commentHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 11px;
  margin-top: 9px;
}

.createdAt {
  order: 2;
  margin-left: 4px;
  margin-right: 4px;
}

.tag {
  order: 3;
}