.userName {
  color: var(--orange);
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  cursor: pointer;
  margin-left: 7px;
  position: relative;
  z-index: 1;
}

.userName:hover {
  text-decoration: underline;
}

@media all and (min-width: 1024px) {
  .userName {
    font-size: 14px;
    line-height: 16px;
  }
}
